<div th:fragment="header" xmlns:th="https://www.thymeleaf.org">
    <div class="jumbotron">
        <label class="lead display-4 background-color">
            Christiaan D&ouml;tze QA Environment
        </label>
<!--        <nav class="navbar navbar-dark">-->
<!--            <a class="navbar-brand" href="/">Home</a>-->
<!--            <a class="navbar-brand" href="/projects">Projects</a>-->
<!--            <a class="navbar-brand" href="/about">About</a>-->
<!--        </nav>-->
    </div>
</div>>
