<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Users</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="css/custom/header.css" type="text/css">
        <link rel="stylesheet" href="css/custom/body.css" type="text/css">

    </head>
    <body>
        <div th:include="fragments/header :: header"></div>
        <div class="body">
        Projects

        </div>
    </body>
</html>
